*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
**/node_modules/
**/package-lock.json
*.backup
output.*

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
application/config/config.php
application/config/database.php
!application/logs/index.html
!application/logs/.htaccess
application/sessions/
application/cache/
application/vendor/
system/
user_guide/
/vendor/
resources/lib/
photos/
resources/js/React/dist/
resources/js/React/package-lock.json
