<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ asset("js/fiche_projet.js") }}"></script> {# à charger selon la page #}
    </head>
    <body>
        <head>
          <div class="row">
            <div class="col-sm-2" id="logo">
              <img src="{{ asset("images/logo1.png") }}" />
            </div>
            <div class="col-sm-10"><h1>Géologie</h1></div>
          </div>

        </head>
        {% block body %}
          <div class="container">
            {% block content %}{% endblock %}
          </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
