
h2, h3 {
  color: #0c8da6;
}

header h1 {
  color: #ca7b3e;
  font-weight: bold;

}

header .subtitle {
  font-size: 120%;
  font-style: italic;
  color: #ca7b3e;
}

.breadcrumb {
  margin-top: 10px;
}

li::marker {
  color: #0c8da6;
}

.qcm input[type=checkbox] {
  border-color: #0c8da6;
}

.qcm .well.coche-complement {
  margin: 0px;
}

li.qcm-patrimonial {
  font-weight: bold;
}

.coche-remarquable {
  color: #afafaf;
  text-decoration: none;
  font-weight: bold;
}

.coche-remarquable.active {
  color: #ffc700;
}

#tdm li {
  font-size: 90%;
}

#tdm > ul {
  padding-left: 10px;
}

.minimap {
  height: 200px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

#carto-full .modal-dialog {
  width: 80%;
}

#col-menu {
  background-color: #f9d69d;
  padding-top: 10px;
  height: 100%;
  z-index: 200;
}

#col-menu a {
  color: black;
}

.illustration {
  float: right;
  margin-left: 10px;
}

.illustration .caption {
  font-size: 80%;
}



#map {
  height: 400px;
  width: 400px;
  margin: 10px;
}
