
h2, h3 {
  color: #0c8da6;
}

header h1 {
  color: #ca7b3e;
  font-weight: bold;

}

header .subtitle {
  font-size: 120%;
  font-style: italic;
  color: #ca7b3e;
}

#logo {
  width: 125px;
  position: absolute;
  height: 100%;
  z-index: 0;
}

.block-title {
  margin-bottom: 10px;
}

#cont-title-nav {
  padding-left: 150px;
  z-index: 1;
}

#footer {
  text-align: center;
  font-size: 95%;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 20px;
  border-top: 1px solid #a4b1c8;
}

.thumbnail {
  margin-right: 5px;
}

.breadcrumb {
  margin-top: 10px;
}

.link-gotop {
  font-weight: bold;
  font-size: 150%;
  display: block;
  float: right;
  margin-right: 10px;
}

li::marker {
  color: #0c8da6;
}

/* Accueil */
.home-image {
  width: 100%;
}

.home-image-caption {
  position: absolute;
  background-color: #FFFFFFAA;
  width: 100%;
  bottom: 0;
  padding: 5px;
}

.home-gallerie-item img {
  width: 100%;
}

.qcm input[type=checkbox] {
  border-color: #0c8da6;
}

.qcm .well.coche-complement {
  margin: 0px;
}

li.qcm-patrimonial {
  font-weight: bold;
}

.remarquable-control, .remarquable-edit {
  display: none;
}

.remarquable-control.checked {
  display: inline;
}

.coche-remarquable {
  color: #afafaf;
  text-decoration: none;
  font-weight: bold;
}

.remarquable-control.remarquable .coche-remarquable, .coche-remarquable.active {
  color: #ffc700;
}

.remarquable-control.remarquable .remarquable-edit {
  display: inline;
}

#tdm li {
  font-size: 90%;
}

#tdm > ul {
  padding-left: 10px;
}

#carto-full .modal-dialog {
  width: 80%;
}

#col-menu-content {
  background-color: #f9d69d;
  height: 100%;
  z-index: 200;
}

#col-menu a {
  color: black;
}

#col-menu-content.affix {
  top: 20px;
  left: 5px;
  right: 83.3%;
  height: 96%;
  overflow: auto;
}

.minimap {
  height: 200px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.illustration {
  float: right;
  margin-left: 10px;
}

.illustration .caption {
  font-size: 80%;
}

img.photo-gallerie {
  height: 100px;
}

#main_image img {
  width: 100%;
  margin-bottom: 5px;
}

#rubriques p {
  text-align: justify;
}

.rubrique {
  margin-top: 5px;
}

.rubrique-toolbar {
  width: 100%;
  border-bottom: 1px solid gray;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.rubrique-description {
  background-color: #fff0bc;
  padding: 5px;
  text-indent: 1.5em;
  margin-bottom: 10px;
}

.description-tooltip {
  color: #673ab7;
  font-size: 90%;
  vertical-align: super;
  cursor: help;
}

.last_modified {
  font-size: 80%;
}

#map {
  height: 400px;
  width: 100%;
  margin: 10px;
  border: 1px solid gray;
}

table#table-liens img {
  max-height: 50px;
}
